.btn {
    border: none;
    padding: 0.5em 1em;
    font-family: inherit;
}

.link {
    padding: 0.5em 1em;
    border-radius: 0.3rem;
    font-family: inherit;
}

/* Size */

.btn-small {
    font-size: 12px;
}

.btn-medium {
    font-size: 14px;
}

.btn-large {
    font-size: 16px;
}

/* Variants */
.full {
    background-color: var(--color);
    color: var(--accent-color);
}
.outline {
    color: var(--color);
    background-color: transparent;
    border: 1px solid var(--color);
}
.text {
    background-color: transparent;
    color: var(--color);
    padding: 0;
}
/* Colors */
.black {
    --color: #000;
    --accent-color: white;
}
.beige {
    --color: #edd4c6;
    --accent-color: #000;
}