@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./utils.css";

body {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  height: 100vh;
}

body * {
  box-sizing: inherit;
}

/* FontAwesome icons are rendered as SVG. Without this rule,  there is a layout shift 
when loading the page (eg: we have an element with the icon and text; the svg 
doesn't sit alongside text but on a separate line).*/

svg {
  display: inline-block;
}